<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>
<h2>Student Details</h2>
<a href="/add/">Add Student</a>
<br><br>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    {% for s in students %}
    <tr>
        <td>{{ s.name }}</td>
        <td>{{ s.age }}</td>
        <td>{{ s.email }}</td>
        <td>
            <a href="/update/{{ s.id }}/">Edit</a> |
            <a href="/delete/{{ s.id }}/">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>